html, body,ul, ol, li,h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "verdana";
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.right-text {
  color: white;
  padding: 0 25px;
  line-height: 65px;
  font-size: 25px;
}

.header-left {
  float: left;
  margin-left: 25px;
}

.header-right {
  float: right;
  color:white;
  margin-right: 25px;
}

.nav {
  list-style-type: none;
}

.nav li{
  float:left;
  padding: 0px 25px ;
  line-height: 65px;
}

.nav a{
  color: white;
}

.nav li:hover {
  background-color: rgba(62, 119, 255, 0.5);
  transition: 0.5s;
}

.top-wrapper {
  height: 490px;
  padding: 180px 0 100px 0;
  background-image: url(hero.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 200px;
  font-size: 75px;
}

.top-wrapper p {
  opacity: 0.9;
  text-align: right;
  letter-spacing: 5px;
  margin-right: 200px;
  font-size: 30px;
}

.about {
  background-color: rgb(30, 30, 30);
  height: 600px;
}

.about h1 {
  text-align: left;
  margin-bottom: 10px;
  padding-top: 50px;
  margin-left: 200px;
  font-size: 75px;
  color: white;
}

.about img {
  width: 250px;
  border-radius: 50% ;
  padding-top: 50px;
  height: 100%;
}

.left {
  width: 50%;
  height: 100%;
  float: left;
  background-color: rgb(54, 131, 255);
}

.about p {
  color: white;
  padding: 80px 50px;
  margin-left: 50%;
  overflow-y: hidden;
  text-align: left;
  font-size: 25px;
}

.project {
    background-color: rgb(16, 15, 13);
    height: 600px;
}

.project h1 {
  text-align: left;
  margin-bottom: 50px;
  padding-top: 50px;
  margin-left: 200px;
  font-size: 75px;
  color: white;
}

.projects-list {
  margin-left: 200px;
}

.project-title {
  display: block;
  height: 300px;
  width: 500px;
  margin-left: 50px;
  background-color: rgba(245, 245, 255,0.9);
  float: left;
  border-radius: 10px 70px 10px;
}

.project-heading {
  display: block;
  height: 30%;
  width: 500px;
  background-color: rgba(54,131,255,0.9);
  float: left;
  margin-bottom: 10px;
  border-radius: 10px 70px 0px 0px;
}

.project-title h1 {
  text-align: left;
  font-size: 25px;
  color: black;
  margin: 10px 10px;
  padding-top: 10px;
}

.project-title p{
  text-align: left;
  font-size: 15px;
  color: black;
  margin: 10px 10px;
  padding: 10px 20px;
}

.project-title:hover {
  background-color: rgba(245, 245, 255,1);
  transform: scale(1.1,1.1);
  transition: all 1s;
}

.socials {
  background-color: rgb(93, 80, 225);
  height: 600px;
}

.socials h1 {
  text-align: left;
  margin-bottom: 10px;
  padding-top: 50px;
  margin-left: 200px;
  font-size: 75px;
  color: white;
}

.socials h3 {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 250px;
  font-size: 30px;
  color: white;
  width: 500px;
  border-radius: 10px;
  display: block;
}

.socials h3:hover {
  box-shadow: 2px 2px 10px black;
  transition: all 1s;
}

.linkedin {
  background-color: #2867B2;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.github {
  background-color: #6cc644;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
  margin-right: 10px;
}

.instagram {
  background-color: #e95950;
  margin-right: 10px;
}

.email {
  background-color: #FBBC05;
  margin-right: 10px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.footer {
  background-color: rgb(16, 15, 13);
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-logo p {
  float: left;
  font-size: 10px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
  list-style-type: none;
  text-align: right;
}
/*
@media (max width: 670px) {

  
  .project {
    height: 800px;
  }
  
  .about {
    height: 700px;
  }
  
  .socials {
    height: 800px;
  }
}
*/
